@charset "UTF-8";

*{font-family: 'Source Code Pro', monospace;}

    html {
    
	scroll-behavior: smooth;
	
    }

    body{
    
		margin:0;
		
	}
	
	
    @media screen and (max-width:950px) {
    
      .topnav{

	    
	    position:sticky;
	    float:none;
	    display:block;
	    text-align:center;
	    
	    font-size:18px;
	    padding: 2% 1% 1% 2%;
	    

	 }
	 
	 .topnav a:not(:first-child) {
	 
	    display:none;
	    
	    
	 }
	 
	 .topnav a.icon {
	 
	    display:block;
	    float:right;
	    
	    
	    
	 }
	 
	 .topnav.responsive {
	 
	    position:sticky;
	 
	 }
	 
	 .topnav.responsive .icon{
	 
	    position:absolute;
	    right:0;
	    top:0;
	    padding : 2% 1% 1% 2%;
	    
	 }
	 
	 .topnav.responsive a {
	 
	    display:block;
	    float:none;
	    text-align:left;
	 
	 }
    
    }
    
    
    @media screen and (min-width:951px){
	
	  .topnav{
	    
	    float:center;
	    text-align:center;
            overflow:hidden;
	    padding: 1% 10px 10px 5px;
          
        }
	
	.topnav .icon{
	
	  display:none;
	  
	  
	}
	
	.topnav a {
	  
	  float:center;
	  text-align:left;
	  font-size:16px;
	  padding:0 2% 0 2%;
	  text-decoration:none;
	
	}
	
    }
    
    
	
    @media screen and (max-width:750px){

        body{
            
            background-color:  rgb(45, 46, 48);
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment:fixed;
            background-size:cover;

        }

	
		
	.searchfromli{
  
	    color:black;
	    float: center;
            
            
          }
		
	  #articleparagraph {
		
	    position:fixed;
	    top:45%;
	    left:0;
	    width:85%;
			
		
		
	  }
		
	 #indexparagraph{
		    
	    margin:0 2% 0 5%;
	    text-align:center;
	    font-size:9.5px;
	    color:rgb(0, 195, 54);
		    
	  }
	  
	  
		
		
		
		
	}


    @media (min-width:751px){

        body{
            
            background-color: rgb(45, 46, 48);
	    background-repeat: no-repeat;
            background-position: center top;
            background-attachment:fixed;
            background-size:cover;

        }

        

        .searchfromli{
  
            color:black;
            float: right;
            
            
        }
		
	#articleparagraph {
	    
	    
			position:fixed;
			top:40%;
			left:0;
			width:100%;
			
		
		
		}
		
		#indexparagraph{
		    
		    text-align:center;
			font-size:20px;
			color:rgb(0, 195, 54);
			
			
		}
		
		
	}



    a:link {

        color: rgb(247, 156, 46);
        text-decoration: none;
      }


    a:visited {

        color: rgb(247, 156, 46);
        text-decoration: none;

      }


    a:hover {

        color: rgb(38, 131, 168);
        text-decoration: none;

      }


    a:active {

        color: blue;
        text-decoration: none;

      }

  
    header, section, footer, nav, aside, main, article, figure, form {
        
        display: block; 
      
      }

    ul li {
      
        display: inline;
        
      }
  

    
    hr{

        color:white;

      }

    .divfornav{

        overflow:hidden;
    
    }

    .searchfrom{

        display: inline;
        color: wheat;
    }

    .footerclass{

		position:absolute;
		bottom: 0;
		align:center;
		width:100%;
		text-align:center;
		display: inline;
  		align-items: center;
  		justify-content: center;
		color:white;
        
        
}
