    ul.navmenu{

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(7, 7, 7,0.5);

    }

    ul.navmenu li{

        float: left;

    }

    ul.navmenu li a{


        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;

    }

    li#searchnavmenu{

        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        float: right;

    }

