@charset "UTF-8";

*{font-family: 'Source Code Pro', monospace;}

html {
    scroll-behavior: smooth;
    }

    body{
		margin:0;
	}
    @media (max-width:750px){

        body{
            
            background-color:  rgb(45, 46, 48);
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment:fixed;
            background-size:cover;

        }

		.navclass{

            margin:10px 5px 0 0;

        }
		
		 .searchfromli{
  
            color:black;
            float: center;
            
            
          }
		
		
		.aclass{
			
			
	   		padding: 0 5px 0 5px;
			
        		text-decoration:none;
        		background-size:auto;
        		background-repeat:no-repeat;
       		color:white;


    		}

        .articlenewspage{

                
                width:90%;
                margin:10px 15px 5px 15px;
                padding:5px 5px 5px 5px; 
        
              }

              .imgnewspage{
        
                height:80%; 
                width:55%;
                float:center;
                padding:1px 10% 1px 10%;
                margin:1px 5% 1px 5%;
        
              }
              .paragraphnewspage{
                
                width:80%;
                text-align:justify;
                margin: 0 auto;
                padding:2px 15px 5px 20px;
                color:rgb(255, 255, 240);
        
              }
        
              .headingnewspage{
        
                width:80%;
                text-align:justify;
                margin: 0 auto;
				        padding:2px 15px 5px 20px;
                color:rgb(30, 144, 255);
        
              }
		
		
	}


    @media (min-width:751px){

        body{
            
            background-color: rgb(45, 46, 48);
	        background-repeat: no-repeat;
            background-position: center top;
            background-attachment:fixed;
            background-size:cover;

        }

        .navclass{

            margin:2% 1% 0% 1%;

          
        }

        .searchfromli{
  
            color:black;
            float: right;
            
            
        }
		
    
		
		.aclass{

	   		padding: 0 10px 0 10px;
			font-size: 17px;
        		text-decoration:none;
        		background-size:auto;
        		background-repeat:no-repeat;
       		color:white;


    		}

            .imgnewspage{
        
                height:60%; 
                width:40%;
                float:center;
                padding:1px 1px 1px 5px;
                margin:5px 20% 5px 20%;
        
              }
        
              .paragraphnewspage{
        
        			  width:80%;
                text-align:justify;
                margin:0 auto;
                padding:20px 1px 5px 1px;
                color:rgb(255, 255, 240);
        
              }
        
              .headingnewspage{
                
				        width:80%;
                text-align:justify;
                padding:1px 1px 5px 5px;
				        margin: 0 auto;
                color:rgb(30, 144, 255);
        
              }
		
	}



    a:link {

        color: rgb(247, 156, 46);
        text-decoration: none;
      }


    a:visited {

        color: rgb(247, 156, 46);
        text-decoration: none;

      }


    a:hover {

        color: rgb(38, 131, 168);
        text-decoration: none;

      }


    a:active {

        color: blue;
        text-decoration: none;

      }

  
    header, section, footer, nav, aside, main, article, figure, form {
        
        display: block; 
      
      }

    ul li {
      
        display: inline;
        
      }
  

    
    hr{

        color:white;

      }

    .divfornav{

        overflow:hidden;
    
    }

    .searchfrom{

        display: inline;
        color: wheat;
    }

      .footerclass{

        position:static;
		    bottom: 0;
		    align:center;
		    width:100%;
        text-align:center;
        display: inline;
  		  align-items: center;
  		  justify-content: center;
        color:white;       
      }

      #subnewstable{

        border-collapse: collapse;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }

      #subnewstable td, #subnewstable th {
        border: 1px solid #ddd;
        padding: 8px;
        }

      #subnewstable tr
      {background-color: #f2f2f2;}

      #subnewstable tr:hover {background-color: #ddd;}

      #subnewstable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
      }

      #subnewstable td{
        text-align: center;
      }